@import "buttons";

@import "fields";

form, textarea {
   
   font-family: $heading__font__family;
   p {
      margin: 0;
   }

   iframe {
      .rc-anchor-light {
         background: transparent !important;
      }
   }
}

