footer.section-container {
   font-family: $heading__font__family;
   background: $cs-blue;
   color: white;
   
   a {
      color: white;
      &:hover {
         color: $cs-lt-gray;
      }
   }



   .section-inner .section {
      padding: 80px 0 20px;
   }

   ul {
      font-size: 1.2rem;
      justify-content: center;
   }
}