a {
    color: $cs-dk-gray;

    &:focus {
        outline: none;
    }

    &:visited {
        // color: inherit;
   
    }
}

form.paypal_form {
    display: flex;
    height: 55px;
    margin-bottom: 25px;

    input {
        margin: 0;
        height: 54px;
    }
}

input.paypal_btn.button.read-on {
    border-radius: 5px;
    font-family: Quicksand;
}

hr {
    height: 2px;
    background: $cs-dk-gray;
    margin-top: 0;
    margin-bottom: 25px;
}

.button, input[type="submit"] {
    font-family: Quicksand;
    border-radius: 5px;
    min-width: 150px;
}

input[type="submit"] {
    @include button;

    margin-top: 25px;
}

span {
    font-family: $heading__font__family;
}

.missionary {
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    img {
        width: 100%;
    }

    a p, a h4 {
        color: white;

        &:hover {
            color: white;
        }
    }

    .post-content {
        padding: 10px;
        position: absolute;
        bottom: 10px;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);

        h4 {
            margin: 0px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        p {
            font-family: $heading__font__family;
            text-transform: lowercase;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.grecaptcha-badge {
    display: none !important;
}

.video-playlist {
    font-family: $heading__font__family;
    font-weight: 300;

    .main-playlist {
        max-width: 100%;

        .vid-thumb-title {
            font-weight: normal !important;
        }
    }

    .main-playlist, .video-wrapper, .playlist-scroll, .playlist-thumbs {
        background: #222222;

        // height: 100% !important;
        max-height: 100% !important;
    }

    .playlist-scroll {
        overflow: scroll;
    }

    .playlist-container::after {
        content: none;
    }
}

.elementor-column-wrap.elementor-element-populated {
    padding: 0 !important;
}

.no-padding-video-wrapper .elementor-wrapper.elementor-fit-aspect-ratio.elementor-open-inline {
    padding-bottom: 56.25%;
}

div.elementor-wrapper.elementor-fit-aspect-ratio.elementor-open-inline, .video-wrapper, .fluid-width-video-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 42.4% !important;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 0;
    }
}

#main .youtube_channel.default.responsive.ytc_display_iframe2 > div:not(:first-child) {

    width: 50% !important;

    @include breakpoint (small down){
        width: 100% !important;
    }
}

#main .youtube_channel.default.responsive.ytc_display_iframe2 > div {
    margin-bottom:  1.5rem;
    padding: 0 1rem;
}