.site-header {
   border-bottom: 3px solid $cs-blue;
   background: white;
   
   .menu-btn {
      float: right;
      a {
         font-family: $heading__font__family;
         color: $cs-blue;
         display: inline-block;
         padding: 3px;
         // transition: transform .25s; 
      }
      a[aria-expanded="true"] {
         // transform: rotateZ(90deg);
         // transition: transform .25s;
         color: $cs-dk-gray;
      }
   }


   .menu-item-has-children .sub-menu {
      height: 0;
   }
   .menu-item-has-children:hover .sub-menu {
      height: 100%;
      transition: 1sec;
   }
}