.splash-container {
    .splash-inner {
        position: relative;
    }

    .hero-img {
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        width: 100%;
        height: 90vh;
    }

    .splash-logo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.section-container {
    .paypal_form {
        max-width: 750px;
        margin: auto;
        margin-top: 25px;
    }
    .section-inner {
        .section {
            padding: 7rem 0;

            input[type="submit"] {
                color: white;
                background: $cs-blue;
                border-radius: 5px;
            }

            &:nth-child(odd) {
                a .post-content {
                    color: $cs-dk-gray;
                }
            }

            &:nth-child(even) {
                color: white;
                background: $cs-blue;

                input[type="submit"] {
                    color: $cs-blue;
                    background: white;
                    border-radius: 5px;
                }
            }
        }
    }

    .post-content {
        min-width: 50%;
    }

    form {
        ::-webkit-input-placeholder {
            text-align: center;
        }

        :-moz-placeholder {
            /* Firefox 18- */
            text-align: center;
        }

        ::-moz-placeholder {
            /* Firefox 19+ */
            text-align: center;
        }

        :-ms-input-placeholder {
            text-align: center;
        }

        input[type='submit'] {
            color: $cs-blue;
            height: auto;
        }
    }
}