.missionary-single {
    .section {
        margin-bottom: 75px;

        &:last-child {
            margin: 0;
        }
    }
}

.missionary-single-content {
    margin-top: 35px;

    .post-img {
      margin: auto;
    }


    .media-links {
        ul {
            margin-bottom: 10px;
        }

        li {
            display: inline-block;
            font-weight: 400;
            font-size: .95rem;

            &:after {
                content: "|";
                margin: 0 5px;
            }

            &:last-child:after {
                content: none;
            }
        }

        form {
            input {
               font-size: .95rem;
                margin: 0;
                background: none;
                color: $cs-dk-gray;
                display: block;
                padding: 0;
                min-width: 0;
                font-weight: 400;
                &:focus {
                  outline: none;
                }
            }
        }

        @include breakpoint(420 down) {
            li, form input {
                font-size: .8rem;
            }
        }
    }

    .donate {
        form {
            width: 100%;
        }

        input {
            margin: 0;
            width: 100%;
            // text-transform: uppercase;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border: 1px solid $cs-blue;

            &:focus {
                outline: none;
            }
        }
    }
}

.missionary-blog-posts {
    h2 {
        margin-top: 0;
    }
}