@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Quicksand:300,400,500');

$heading__font__family: 'Quicksand', Helvetica, Roboto, Arial, sans-serif;
$font__main: 'EB Garamond', serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
